venvs/
dataset/*
!dataset/Processed/
dataset/Processed/*
!dataset/Processed/toy100/
!dataset/Processed/toy100/**
!dataset/Train_toy100/
!dataset/Val_toy100/
!dataset/Test_toy100/
hf-cache/
lightning_logs/
.hydra/
logs/
checkpoint/
test/*.xml
test/*.log
test/*.ini
.claude/
docs/
*.zip
src/dataset
.env
__pycache__/